@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: normal;
	src: local('TTLakes'),
		url(../fonts/TTLakes-Regular.woff) format('woff');

}

/* Жирный */
@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: bold;
	src: local('TTLakes'),
		url(../fonts/TTLakes-Bold.woff) format('woff');
}

body {
	font-family: 'TTLakes', sans-serif;
	border: 0px dotted rgb(98, 0, 255);
}
.block2{
	width: 94%;
	border: 2px solid rgb(141, 214, 45);
	background-color:  rgba(248, 248, 248, 1);
	margin-left: 24px;
	margin-right: 24px;
}
.upperHed{
	display: flex;
	height:56px;
	background-image:linear-gradient( to right, rgba(248, 248, 248, 1), rgba(255, 255, 255, 1)) ;
	border: 0px solid rgb(224, 32, 128);

}
.upperHed-text{
	height:24px;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 16px;
	color: rgba(126, 126, 130, 1);
	border: 0px solid rgb(32, 224, 48);
}
.cats,
.remonts
{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	border: 0px solid rgb(106, 32, 224);
}
.cat,
.remont
 {
	display:flex;
	height:72px;
	width: 224px;	
	margin:24px 16px;
	justify-content:space-between;
	border: 0px solid rgb(32, 224, 48);
	background-color:  rgba(255, 255, 255, 1);
}
.remont{
	height:160px;
}

 

.bitmap{
	border: 0px solid rgb(106, 32, 224);
	margin-left: 16px;
	margin-top: auto ;
	margin-bottom: auto;	
}
.remont .bitmap{
	margin-left: 16px;
	margin-top: 16px ;
	margin-bottom: auto;

}

.line__go{
	height:40px;
	width: 40px;
     margin-right: 16px;
	margin-top: auto ;
	margin-bottom: auto;	
}
.remont .line__go{
	margin-right: auto;
	margin-top: auto ;
	margin-bottom: 16px;

}
.footerMenu{
	display:flex;
	height:24px;
	width: 134px;	
	margin-left: 16px;
	margin-bottom: 34px;
	justify-content:space-between;
	
}

.line__expand,
.remonts-line__expand
{
	height:24px;
	width: 24px;
	margin-top: auto ;
	margin-bottom: auto;
	
}
.line_text,
.remonts-line_text
{
	height:16px;
	font-size: 16px;
	font-weight:normal;
	margin-top: auto ;
	margin-bottom: auto;
	margin-left: 9px;
}

.line_input,
.slaid,
.remonts-line_input
{
	display: none;
}



/*screen*/


@media screen and (max-width: 540px)  {

.slaid	{
		display: block;	
	}
.cats, 
.remonts,
.footerMenu{
	display: none;
}
.block2{
	width: 320px;
}
}
