$tabl-th :rgba(126, 126,  130,1);
$tadle-background:rgba(255, 255, 255, 1);
$key-call:#FF3E79;
$text-grey: #7E7E82;
$back-ground-main: #F8F8F8;//main background
@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: medium;
	src: local('TTLakes'),
		url(../fonts/TTLakes-Medium.woff) format('woff');

}

@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: normal;
	src: local('TTLakes'),
		url(../fonts/TTLakes-Regular.woff) format('woff');

}

/* Жирный */
@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: bold;
	src: local('TTLakes'),
		url(../fonts/TTLakes-Bold.woff) format('woff');
}





body {
	font-family: 'TTLakes', sans-serif;

}
.block3,
.footer{
	width: 100%;
	background-color:  rgba(248, 248, 248, 1);
	margin:0;
	
}
.footer{
	margin-left: 0px;
	margin-right: 0px;
	
}
.table-conteiner{
	
    height:100%;
	width: 100%;
	padding: 0 16px;
	box-sizing: border-box;

}

table {
	border-collapse: collapse;
   width: 100%; 
}
.slaid-tab{
	margin-top: 16px;
}
tr,td,th,.rect td{
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.top-left{
	border-top-left-radius: 20px;
}
.top-right{
	border-top-right-radius: 20px;
}

.bot-left{
	border-bottom-left-radius: 20px;
}
.bot-right{
	border-bottom-right-radius: 20px;
}
th {
	
    height:16px;
    text-align: start;
    color: $tabl-th; 
    padding-left:16px;
    padding-top:31px;
    padding-bottom:16px;
}
td {
	
    height:18px;
    padding-left:16px;
	padding-top: 16px;
    padding-bottom:16px;
    background-color: $tadle-background;
	
}

.call{
	padding: 0;
	margin: 0;
    display:flex;
	height:32px;
	width: 119px;	
	justify-content:flex-start;
	background-color: $key-call;
    border-radius: 20px;
	cursor: pointer;
}
.call__goside,
.call__text {
    color: rgb(255, 255, 255); 
	font-size: 12px;
	font-weight:bold;
	margin: auto 0 ;
	padding: 0;
	box-sizing: border-box;
    
}
.call__goside img{
	height: 24px;
	width: 24px;
	padding-top: 2px;
	
}

.call__text {
line-height: 24px;
text-transform: uppercase;
margin-left: 12px;
}

.rect{
	padding: 0;
	margin: 0;
    height:0px;
	width: 100%;	
    margin-left: 16px;
    padding-left: 16px;
    border-radius: 20px;
}
.rect td{
	
    height:0px; 
    padding-right:16px;
    padding-left:16px;
}
.rect-free {
	height:1px; 
    
    border: 1px solid #EAEAEA;
}

.tabl{
	display: block;
	height:216px;
	width: 260px;
	background-color:  rgba(255, 255, 255, 1);
	text-align: start;
	border-radius: 5px;
	
}
.tabl-iner{
	height: 100%;
	width: 100%;
	padding: 0 16px;
	box-sizing: border-box;
	line-height: 18px;
	font-size: 14px;
	font-weight:medium;
	font-family: 'TTLakes', sans-serif;
}
.tabl-uslugi,
.tabl-cena,
.tabl-srok
{
	color: rgba(126, 126, 130, 1); 
    margin-top: 16px;
	line-height: 16px;
	
}

.tabl-zakaz {
	display:flex;
	justify-content:space-between;
}

	
.block3-text>p{
	
	color:#1B1C21;
	font-size: 14px;
	line-height:20px;
}
.block3-text{
	height:80px;
	max-width: 421px;
	padding-left: 16px;
	
}
.block3-src{

    display: block;
    margin-left: 16px;
    height: auto;
    width: 80%;

}
.block3-goside{
	display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    font-weight: medium;

}
.block3-img {
	height:26px;
	width: 24px;
	margin: -8px 0;
}

.footer{
	display:flex;
	justify-content:space-between;
	flex-direction: row;
	margin-top: 40px;
	padding-bottom: 25px;
	align-items: flex-start;
	
}
.footer__item {
	width: 220px;
	margin-top: 32px; 
	margin-right:  16px;
	margin-left:  16px;
	line-height: 16px;
	font-size: 14px;
	color:$text-grey;
}
.pad{
	height:32px;

}
.swiper-slide__tabl{
	background: $back-ground-main;
	width: auto;
	margin: 16px 0 16px 16px;
}
 




@media screen and (max-width: 768px)  {

.slaid-cats,
.slaid-remonts,
.slaid-tab	
       {
		display: block;	
	}
table{
	display: none;
}
.footer{
    margin-bottom: 19px;
	flex-direction: column;
	text-align: center;
}
.footer__item{
margin-top: 16px;
margin-left: auto;
margin-right: auto;
}
.block3-text{
	height:120px;
	max-width: 288px;
	
}


}

