@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: normal;
	src: local('TTLakes'),
		url(../fonts/TTLakes-Regular.woff) format('woff');

}

/* Жирный */
@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: bold;
	src: local('TTLakes'),
		url(../fonts/TTLakes-Bold.woff) format('woff');
}

body {
	font-family: 'TTLakes', sans-serif;
	border: 0px dotted rgb(98, 0, 255);
}
.block3{
	width: 94%;
	border: 2px solid rgb(62, 45, 214);
	background-color:  rgba(248, 248, 248, 1);
	margin-left: 24px;
	margin-right: 24px;
	
}
table {
    border-collapse: collapse;
    height:100%;
	width: 100%;	
	
    
}
tr,td,th,.rect td{
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.top-left{
	border-top-left-radius: 20px;
}
.top-right{
	border-top-right-radius: 20px;
}

.bot-left{
	border-bottom-left-radius: 20px;
}
.bot-right{
	border-bottom-right-radius: 20px;
}
th {
	
    height:16px;
    text-align: start;
    color: rgba(126, 126, 130, 1); 
    padding-left:16px;
    padding-top:31px;
    padding-bottom:16px;
}
td {
	
    height:18px;
    padding-left:16px;
	padding-top: 16px;
    padding-bottom:16px;
    background-color:  rgba(255, 255, 255, 1);
	
}

.call{
	padding: 0;
	margin: 0;
    display:flex;
	height:32px;
	width: 119px;	
	margin:0px 0px;
	justify-content:space-between;
	border: 0px solid rgb(32, 224, 48);
	background-color: #FF3E79;
    border-radius: 20px;
	margin-right:16px;
	
	

}
.call__goside,
.call__text {
    color: rgb(255, 255, 255); 
	font-size: 12px;
	font-weight:bold;
    margin-top: auto ;
	margin-bottom: auto;	
    margin-right: 4px;
    margin-left: 12px;
}
.rect{
	padding: 0;
	margin: 0;
    height:0px;
	width: 100%;	
    border: 0px solid #e90f0f;
    margin-left: 16px;
    padding-left: 16px;
    border-radius: 20px;
}
.rect td{
	
    height:0px; 
    padding-right:16px;
    padding-left:16px;
}
.rect-free {
	height:1px; 
    
    border: 1px solid #EAEAEA;
}
.tabl{
	display: block;
	height:216px;
	width: 260px;
	background-color:  rgba(255, 255, 255, 1);
	text-align: start;
	border-radius: 20px;

}
.tabl-uslugi,
.tabl-cena,
.tabl-srok
{
	color: rgba(126, 126, 130, 1); 
    margin-top: 16px;
	
}
.tabl div{
	padding-left: 16px;
	
}
.tabl-zakaz {
	display:flex;
	justify-content:space-between;
	padding-bottom: 16px;
}

.swip-pad{

	height:32px;	
}
	
.block3-text>p{
	
	color:#1B1C21;
	font-size: 14px;
	line-height:20px;
}
.block3-text{
	height:60px;
	width: 421px;

}
.block3-src{
	margin-top: 16px;
	display:flex;
	height:24px;
	width: 326px;

	
	justify-content:space-between;
	text-align: center;
}
.block3-src>div{
	font-size: 16px;
	line-height:24px;
	color:#1B1C21;
	font-weight:500;
}

.footer{
	display:flex;
	justify-content:space-between;
	flex-direction: row;
	height:81px;
	width: 100%;
	border: 1px solid #e60303;
	margin-top: 16px;
	align-items: flex-start;
	
}
.footer__item {
	border: 1px solid #0a0896;
	width: 220px;
	margin-top: 16px;
	line-height: 16px;
	font-size: 14px;
	color:#7E7E82;
}


/*.footer :nth-child(1){
	border: 1px solid #0a0896;
	width: 218px;
	margin-left: 24px;
	margin-top: 32px;
}
.footer :nth-child(2){
	border: 1px solid #58c90c;
	width: 214px;
	margin-left: auto;
	margin-right:auto;
	margin-top: 32px;
}
.footer :nth-child(3){
	border: 1px solid #bbec0a;
	width: 213px;
	margin-right: 24px;
	margin-top: 32px;

}*/




@media screen and (max-width: 360px)  {

.slaid	{
		display: block;	
	}
   
   table{
	display: none;
}
.block3{
	width: 320px;
}
.footer{

	flex-direction: column;

}

}


