$back-ground-main: #F8F8F8;//main background

body {
	font-family: 'TTLakes', sans-serif;
}
.block2{
	width: 100%;
	margin-left: 24px;
	margin-right: 24px;
}
.upperHed{
	display: flex;
	height:56px;
	background-image:linear-gradient( to right, rgba(248, 248, 248, 1), rgba(255, 255, 255, 1)) ;
	
}
.upperHed-text{
	height:24px;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 16px;
	color: rgba(126, 126, 130, 1);
	
}
.cats,
.remonts
{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	//overflow: visible;
}
.cat,
.remont
 {
	display:flex;
	height:72px;
	min-width: 224px;	
	margin:24px 16px;
	justify-content:space-between;
	background-color:rgba(255, 255, 255, 1);
	
}
.remont{
	height:160px;
}

.swiper-slide__cat,
.swiper-slide__remont{
	background-color:$back-ground-main;
}

.bitmap{
	
	margin-left: 16px;
	margin-top: auto ;
	margin-bottom: auto;	
}
.remont .bitmap{
	margin-left: 16px;
	margin-top: 16px ;
	margin-bottom: auto;

}

.line__go{
	height:40px;
	width: 40px;
     margin-right: 16px;
	margin-top: auto ;
	margin-bottom: auto;	
}
.remont .line__go{
	margin-right: auto;
	margin-top: auto ;
	margin-bottom: 16px;

}
.footerMenu{
	display:flex;
	height:24px;
	width: 134px;	
	margin-left: 16px;
	margin-bottom: 34px;
	justify-content:space-between;

}

.line__expand,
.remonts-line__expand
{
	height:24px;
	width: 24px;
	margin-top: auto ;
	margin-bottom: auto;
	
}
.line_text,
.remonts-line_text
{
	height:16px;
	font-size: 16px;
	font-weight:normal;
	margin-top: auto ;
	margin-bottom: auto;
	margin-left: 9px;
}

.line_input,
.slaid,
.remonts-line_input
{
	display: none;
}



/*screen*/


@media screen and (max-width: 768px)  {

.slaid

	{
		display: block;
			
	};
.cats, 
.remonts,
.footerMenu{
	display: none;
}
/*.block2{
	width: 320px;
}*/
}


@media screen and (max-width: 769px)  {
	
	.cats,
    .remonts
         {
	
	flex-wrap:nowrap;
               }

}