$text-black: black;
$background-heder: white;
.backMenu{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 320px;
	height:676;
    position: absolute;
	
}

/*heder*/
.upperMenu{
	display: flex;
	width: auto;
	justify-content: flex-start;
	align-items: center;
	background-color: $background-heder;
	padding:0px;
	margin-top:18px;
}
.upperMenu__burger{
margin-left:16px
}
.upperMenu__group{
	margin-left:16px
}
.upperMenu__search{
	margin-right: 16px;
	margin-left:auto;
}



/*main */

ul.backMenu__nav-list,
li.backMenu__nav-list, a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-decoration-style: none;
}
ul.backMenu__nav-list{
	
	margin-top: 22px;
}

li.backMenu__nav-list:not(:last-child){
	margin-bottom:8px;	
}
li.backMenu__nav-list a{
	display: block;
	font-weight: normal;
	font-size: 16px;
	height:16px;
	color: $text-black;
	margin-left: 16px;
	margin-top: auto;
	margin-bottom: auto;
	
	text-align:center;
}
li.backMenu__nav-list {
	display: flex;
	height:32px;
	
}


/*footer*/
.endMenu
 {
	display: flex;
	width: 196px;
	flex-wrap:wrap;
	margin-left:16px;
	margin-top: 32px;
	
 }
 .endMenu__chat,
.endMenu__profile{
margin-left:16px;
}
.endMenu__email{
	height:24px;
	font-size: 16px;
	margin-top: 16px;
}
.endMenu__tel{
	height:36px;
	font-size: 22px;
	font-weight: bold;
	margin-top: 12px;
}
.footerLang{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	width: 87px;
	height:24px;
	margin-left:16px;
	margin-top: 8px;
}
.footerLang a {
	text-decoration: none;
	font-weight: bold;
	color:$text-black;
}

/*transform*/


a img:hover   {
transform: scale(1.1);
transition:transform 0.5s,
           filter 0.5s;
 
filter: hue-rotate(180deg)
	 drop-shadow(0px 0px 5px rgba(241, 33, 103, 0.836));
}
a img {
transition:transform 0.5s,
          filter 0.5s;
}

.backMenu__nav-list:before{
	display: none;
	content: "";
	height:32px;
	margin-top: auto;
	margin-bottom: auto;
	border-right: 4px solid  rgba(65, 246, 215, 1);
	border-radius: 15px;
}
.backMenu__nav-list:hover.backMenu__nav-list:before{
	display: block;
}
.backMenu__nav-list:hover a{
	color: grey;
	margin-left: 12px;
} 
.footerLang a:hover{

	color: grey;
}


/*screen*/

@media screen and (min-width: 320px) and (max-width: 360px) {
.upperMenu{
	width: 360px;
	}
}

@media screen and (min-width: 360px)  {
	.backMenu{
	box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
	height:1024px;
		}
	.endMenu {
		margin-top:370px;
	}
	}
	@media screen and (max-width: 1120px)  {
		body .backMenu
		 {
			display: none;
		}

		
}
  @media screen and (min-width: 1119px)  {

	.backMenu{
		box-shadow: 0px 0px 0px 0px #fff;

}
}
@media screen and (min-width: 360px) and (max-width: 1120px) {
	body .backMenu.onBurger {
		display: flex;
		margin-top: -15px;
		}
	
		main.disable
		{
			position: absolute;
		   left:330px;
		   opacity: 0.01;
	   }


	}
	@media screen and (max-width: 360px) {

		body .backMenu.onBurger {
			display: flex;
			margin-top: -15px;
			}

		main.disable
		{
			display: none;
	   }

	}