$grey-ligt : #e3e3ec;
$grey-green-ligt:#097e5f;
$back-ground-main: #F8F8F8;//main background
$green-light:#B8FFEC;//befor H1
$text-black: #1b1c21;
$text-grey: #7E7E82;
$border-navlist:#13d613;
$background-heder: white;
$background-navlist_activ:white;
$key-call:#FF3E79;



@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: medium;
	src: local('TTLakes'),
		url(../fonts/TTLakes-Medium.woff) format('woff');

}

@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: normal;
	src: local('TTLakes'),
		url(../fonts/TTLakes-Regular.woff) format('woff');

}

/* Жирный */
@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: bold;
	src: local('TTLakes'),
		url(../fonts/TTLakes-Bold.woff) format('woff');
}

body {
	font-family: 'TTLakes', sans-serif;
	width: 100%;
	margin: 0;
	
}

.block1{
	
	width: 100%;
    margin: 0;
}
a {
	margin: 0;
	padding: 0;
	font-size: 0;
}


.line,
.main-line,
.line__item {
	display: flex;
	width: auto;
	justify-content: flex-end;
}
.main-line__repair{
	margin-right: 32px;
}
.main-line__checkstatus{
	margin-right: 30px;
}
/*line*/

.line {
	justify-content: space-between;
	align-items: center;
	background-color: $background-heder;
	padding:22px 7px;
}
.line__item{
	justify-content: space-around;
	align-items: center;
}

.line__group {
	margin:0;
	width: 90px;
}
.line__der__burger,
.line__der {
	border: 1px solid $grey-ligt;
	border-radius: 50%;
	height: 26px;
	margin-left: 16px;
}
.line__group,
.line__repair,
.line__checkstatus,
.line__chat,
.line__profile
{
	margin-left: 16px;
}
/*line*/

/*main */

.tittle {
	display: block;
}

h1 {
	font-family: 'TTLakes', sans-serif;
	font-weight: bold;
	height: 40px;
	margin-bottom: 24px ;
	margin-left: -5px;
	font-size: 28px;
}

h1::before {
	content: ".";
	margin-left: 0;
	margin-right: 10px;
	color: $green-light;
	background-color: $green-light;
}

main {
	background-color: $back-ground-main;
}

.main-line a {
	display: flex;
	font-size: 18px;
	padding: 5px 10px;
	margin: 5px;
	text-decoration: none;
	color: $text-black;
	height: 24px;
	align-self: center;
}

.main-line img {
	margin-left: 10px;
	align-self: center;
}


.nav-list{
	display: flex;
	justify-content: space-evenly ;
	flex-wrap:nowrap;
	flex-direction: row;
	 overflow-x:auto; 
}
.nav-list::-webkit-scrollbar{
	width:0;
}
ul,
li {
	margin:0;
	padding: 0;
	text-decoration: none;
}
ul {
	margin: 24px 0 0 16px;	
} 


.nav-list__item 
{
	display: inline-flex;
	box-sizing: border-box;
	border-radius: 5px;
	height: 32px;
   margin: 0 5px 0 0;
   border: 1px solid  $back-ground-main;
}

.nav-list__item a {
	display: inline-block;
	font-size: 18px;
	padding: 3px 7px;
	margin: 0 0px;
	text-decoration: none;
	color: $text-grey;
	height: 24px;
	text-align: center;
	width: max-content;
	
	
}

.nav-list__item:hover {
	background-color: $background-navlist_activ;
	border-color: $green-light;
}


.block1 h2 {
	font-family: 'TTLakes', sans-serif;
	font-weight: normal;
     margin-left: 10px;
	 color: #7E7E82;
}
.sectext {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 0px;
	
}

.text-text__articl {
	display: block;
	float: left;
	font-size: 14px;
	height: 90px;
	margin:16px 0 16px 16px;
	color: $text-black;
	overflow: hidden;
}

.text-text__link{
	text-decoration: none;
	font-family: 'TTLakes', sans-serif;
	font-weight: mid;
	font-size: 16px;
	color: $text-black;
	margin:0 0 0 16px;

}

.text-text__link img {
	vertical-align: middle;
}
.text-text__link span {
	height: 24px;
	width: 24px;
	font-family: 'TTLakes', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: $text-black;
}

.text-img img {
	display: block;
	margin: 16px 0 24px 0 ;
	padding: 0;
	width: 100%;
	height: 100%;
	
}



@media screen and (min-width:1121px) {
	//.nav-list__item:nth-of-type(3),
	.line {
		display: none;
	}
	.nav-list{
	flex-wrap:wrap;
	justify-content: flex-start ;
	}
}




@media screen and (min-width: 768px) and (max-width: 1120px) {
	.main-line
	 {
		display: none;
	}
	/*.nav-list li:first-child,
	.nav-list li:nth-child(5) {
		display: none;
	}*/
	.text-text__articl {
		height: 180px;

	}
}

@media screen and (max-width: 768px) {

	/*heder*/
	.scrin__360,
	.line__der__burger{
		display: none;
		
	}
	
	.sectext {
		
		grid-template-columns: 1fr;
	}
	.main-line {
		display: none;
	}
	/*.nav-list li:first-child,
	.nav-list li:nth-child(5) {
		display: none;
	}*/

	section .back_menu {
		display: block;

	}

}
