@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: normal;
	src: local('TTLakes'),
		url(fond/TTLakes-Regular.woff) format('woff');

}

/* Жирный */
@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: bold;
	src: local('TTLakes'),
		url(fond/TTLakes-Bold.woff) format('woff');
}

body {
	font-family: 'TTLakes', sans-serif;
	border: 0px dotted rgb(98, 0, 255);
}
.backMenu{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 320px;
	height:676px;
	border: 0px solid red;

}

/*heder*/
.upperMenu{
	display: flex;
	width: 320px;
	justify-content: flex-start;
	align-self: center;
	background-color: white;
	padding:0px;
	margin-top:18px;
	border: 0px solid rgb(141, 214, 45);
}
.line__burger{
margin-left:16px
}
.line__group{
	margin-left:16px
}
.line__search{
	margin-right: 16px;
	margin-left:auto;
}
.line {
	align-self: center;	
}


/*main */
.main-nav{
	border: 0px solid rgb(84, 116, 87);
}

ul.nav-list,
li.nav-list, a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-decoration-style: none;
}
ul.nav-list{
	border: 0px solid rgb(84, 116, 87);
	margin-top: 22px;
}

li.nav-list:not(:last-child){
	margin-bottom:8px;	
}
li.nav-list a{
	display: block;
	font-weight: normal;
	font-size: 16px;
	height:16px;
	color: black;
	margin-left: 16px;
	margin-top: auto;
	margin-bottom: auto;
	border: 0px solid rgb(223, 219, 16);
	text-align:center;
}
li.nav-list {
	display: flex;
	height:32px;
	border: 0px solid rgb(78, 16, 223);
}


/*footer*/
.footerMenu
 {
	display: flex;
	width: 196px;
	flex-wrap:wrap;
	border: px solid rgb(211, 17, 153);
	margin-left:16px;
	margin-top: 32px;
 }
 .line__chat,
.line__profile{
margin-left:16px;
}
.line__email{
	height:24px;
	font-size: 16px;
	margin-top: 16px;
}
.line__tel{
	height:36px;
	font-size: 24px;
	font-weight: bold;
	margin-top: 12px;
}
.footerLang{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	width: 87px;
	height:24px;
	margin-left:16px;
	margin-top: 8px;
}
.footerLang a {
	text-decoration: none;
	font-weight: bold;
	color:black;
}

/*transform*/


a img:hover   {
transform: scale(1.1);
transition:transform 0.5s,
           filter 0.5s;
 
filter: hue-rotate(180deg)
	 drop-shadow(0px 0px 5px rgba(241, 33, 103, 0.836));
}
a img {
transition:transform 0.5s,
          filter 0.5s;
}

.nav-list:before{
	display: none;
	content: "";
	height:32px;
	margin-top: auto;
	margin-bottom: auto;
	border-right: 4px solid  rgba(65, 246, 215, 1);
	border-radius: 15px;
}
.nav-list:hover.nav-list:before{
	display: block;
}
.nav-list:hover a{
	color: grey;
	margin-left: 12px;
} 
.footerLang a:hover{

	color: grey;
}


/*screen*/

@media screen and (min-width: 320px) and (max-width: 360px) {
.upperMenu{
	width: 360px;
	}
}

@media screen and (min-width: 520px)  {
	.backMenu{
	box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
	height:1024px;
		}
	.footerMenu {
		margin-top:370px;
	}
	}
